@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


#app {
  font-family: 'Quicksand', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  color: #010172

}

body, input, button, textarea, select {
  font-family: 'Quicksand', serif;
}